{% extends "layout.html.twig" %}

{% block title %}サイト一覧{% endblock %}
{% block breadcrumb %}
      <li><a href="/">Home</a></li>
      <li class="active">サイト一覧</li>
{% endblock %}
{% block content %}

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>list</h1>
          {% for site in sites %}
          <li>{{ site.name }} <a href="/site/{{ site.id }}/edit">{{ site.id }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>


{% endblock %}
