{% extends "layout.html.twig" %}

{% block title %}管理画面サンプル{% endblock %}
{% block content %}

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <p>管理画面TOP</p>
      </div>
    </div>
  </div>

{% endblock %}
