{% extends "admin/layout.html.twig" %}

{% block title %}TOP{% endblock %}
{% block content %}

  <div class="page-header" id="banner">
    <div class="row my-4">
      <div class="col-12">
        <p>管理画面TOP</p>
      </div>
    </div>
  </div>

{% endblock %}
